{% macro customTitleAndDescription(params) %}

{% from "components/card/_macro.njk" import onsCard %}

{# Title and description #}
{% for endpoint in params.endpoints %}
  {% if endpoint.selected %}
  <br>
  {# Set an ID so that we can get a handle later #}
  <div id="title-and-description-for-page-in-card-container">

  {{ onsCard({
      "id": endpoint.id,

      "title": {
          "text": endpoint.title,
          "id": endpoint.id ~ "-title",
          "classes": "header__title"
      },

      "body": {
          "text": endpoint.description_text,
          "id": endpoint.id ~ "-text"
      },

      "image": None 
  }) }}

  </div>
  <br>
  {% endif %}
{% endfor %}

{% endmacro %}
