{% extends 'layout/_template.njk' %}

{% from "components/header/_macro.njk" import onsHeader %}


{% set navigation_info = selected_endpoint.nav_info  %}
{% set sub_nav_info = selected_endpoint.sub_nav_info %}
{% set current_path_array = selected_endpoint.url %}


{% set pageConfig = {
	'title': "Address Index",
	'wide':true,
	'header': {
		"title": 'AIMS',
		'phase': '' if not beta_banner else {
			"badge": 'BETA',
			"html": 'This is a new service – your <a href="/help/submit_feedback">feedback</a> will help us improve it.'
		},
		"logoHref": '/',
		"mastheadLogo": '/',
		"mobileLogo": 'ons-logo-stacked-en',
		"titleLogo": 'ons-logo-stacked-en',
		"titleLogoHref": '/',
		"navigation": {
			"id": 'main-nav',
			"ariaLabel": 'Main menu',
			"ariaListLabel": 'Navigation menu',
			"currentPath": current_path_array,
			"itemsList": navigation_info,
			"subNavigation":  {
				"id": 'sub-nav',
				"currentPath": '/large',
				"itemsList": sub_nav_info,
			}
		},
		"serviceLinks": {
		    "id": "service-links",
		    "ariaLabel": 'Services menu',
		    "ariaListLabel": 'Menu',
		    "toggleServicesButton": {
			"text": 'Account',
			"ariaLabel": 'Toggle services menu'
		    },
		    "itemsList": [
			{
			    "title": endpoints[0].user_email,
			    "iconType": 'person'
			},
			{
			    "title": "Sign out",
			    "url": "/logout"
			}
		    ]
		}
        },

	"footer": {
		"oglLink": true,
		"footerLogo": {'logos': {'logo2': None}},

		"rows": [
		    {	"title": 'Service Help',
			"itemsList": [
			    {   "text": 'Have feedback or found an issue with matched address(es)?',
				"url":"/help/submit_feedback",
			    } ],
		    }, ],
	},

	"meta": { "canonicalUrl": "/", },
} %}




