{% extends 'layout/_template.njk' %}

{% from "components/header/_macro.njk" import onsHeader %}

{% set item_list = endpoints[0].nav_info  %}

{% set pageConfig = {
	'title': "Address Index",
	'wide':true,
	'header': {
		"title": 'AIMS',
		"logoHref": '/',
		"mastheadLogo": '/',
		"mobileLogo": 'ons-logo-stacked-en',
		"titleLogo": 'ons-logo-stacked-en',
		"titleLogoHref": '/',
		"navigation": {
			"id": 'main-nav',
			"ariaLabel": 'Main menu',
			"ariaListLabel": 'Navigation menu',
			"currentPath": endpoints[0].current_selected_endpoint,
			"itemsList": item_list,
		},
		"serviceLinks": {
		    "id": "service-links",
		    "ariaLabel": 'Services menu',
		    "ariaListLabel": 'Menu',
		    "toggleServicesButton": {
			"text": 'Account',
			"ariaLabel": 'Toggle services menu'
		    },
		    "itemsList": [
			{
			    "title": endpoints[0].user_email,
			    "iconType": 'person'
			},
			{
			    "title": "Sign out",
			    "url": "/logout"
			}
		    ]
		}
        },

	"footer": {
		"OGLLink": {
		    "pre": 'All content is available under the',
		    "link": 'Open Government Licence v3.0',
		    "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
		    "post": ', except where otherwise stated'
		},

		"rows": [
		    {	"title": 'Service Help',
			"itemsList": [
			    {   "text": 'Have feedback or found an issue with matched address(es)?',
				"url":"/help/submit_feedback",
			    } ],
		    }, ],
		},
	"meta": { "canonicalUrl": "/", },
} %}




