{# The attributes table is used in several components #}
{# This macro returns the HTML that's reused elsewhere #}

{% macro subCustomAttributesTable(params) %}


<!-- Table for key/value pairs for each address depending on favourites -->
  <table class='clerical-data-table ons-table'> 
  <tbody id="table-body-for-address-attributes" class="ons-table__body">

  <!-- Table "Header Row", titles for each column -->
  <thead class="ons-table__head">
      <tr class="ons-table__row">
        <th scope="col" class="ons-table__header">
          <span class="ons-table__header-text">Attribute</span>
        </th>
        <th scope="col" class="ons-table__header">
          <span class="ons-table__header-text">Value</span>
        </th>
        <th scope="col" class="ons-table__header">
          <span class="ons-table__header-text">Favourite</span>
        </th>
      </tr>
    </thead> 

    <tr id="example-table-row" class="ons-table__row"> 
      <td class="attribute-name-placeholder ons-table__cell"></td> 
      <td class="attribute-value-placeholder ons-table__cell"></td>
      <td class="attribute-favourite-placeholder ons-table__cell">
        
        <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
          <span class="ons-checkbox ons-checkbox--no-border">
            <input
              type="checkbox"
              class="ons-checkbox__input ons-js-checkbox favourite-checkbox"
              autocomplete="off"
              value="true" />
            <label
              class="ons-checkbox__label favourite-checkbox-label"
              for="only-checkbox"
              id="only-checkbox-label">
                &nbsp;
            </label>
          </span>
        </span>

      </td>
    </tr>

  <tbody>
</table>






{% endmacro %}