{% extends 'base.html' %}

{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/input/_macro.njk" import onsInput %}
{% from 'custom_address_info/_macro.njk' import customAddressInfo %}
{% from "components/table/_macro.njk" import onsTable %}

{# In order to specify wider than usual components, page must be in "pageContent" #}
{% block pageContent %}
{% block main %}
{# Add a grid (this is normally done automatically but this overrides the current system to make the box wider) #}
<div class="ons-grid">
<div class="ons-grid__col ons-col-1@m"></div>
<div class="ons-grid__col ons-col-10@m">

<br>

{{ customAddressInfo ({
	'full_info': True,
	'matched_addresses': matched_addresses,
	'clerical_info': clerical_info,
	'tool_tip_data': tool_tip_data,
	}) }}
<br>

{% for t_title, t_table in hierarchy_table.items() %} 
	{{ onsTable({
		'caption': t_title,
		'ths': t_table.get('ths'),
		'trs': t_table.get('trs'),
		}) }}

{% endfor %}

</div>
</div>
<h1 style="visibility: hidden;">More Info</h1>
<h1 style="visibility: hidden;">More Info</h1>

{% endblock %}
{% endblock %}
