{% extends 'layout/_template.njk' %}
{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/header/_macro.njk" import onsHeader %}



{% set pageConfig = {
'title': "AIMS-UI",
'header': {
	"title": 'Page title',
	"logoHref": '#0',
	"mobileLogo": 'ons-logo-stacked-en',
	"titleLogoHref": '#0'  },

'phase':     onsPhaseBanner({
        "badge": "BETA",
        "html": 'This is a new service – your <a href="#feedback">feedback</a> will help us improve it.'
    }),

	} %}



<h1> somethingiscool </h1>
