{% extends 'layout/_template.njk' %}
{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/header/_macro.njk" import onsHeader %}

{% set item_list = endpoints[0].nav_info  %}

{% set pageConfig = {
'title': "Address Index",
	'header': {
		"title": 'AIMS',
		"logoHref": '#0',
		"mobileLogo": 'ons-logo-stacked-en',
		"titleLogoHref": '#0'  },

	'phase': {
		"badge": "BETA",
		"html": 'This is a new service – your feedback will help us to improve it.'
		},
	"footer": {
		"OGLLink": {
		    "pre": 'All content is available under the',
		    "link": 'Open Government Licence v3.0',
		    "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
		    "post": ', except where otherwise stated'} ,

        "cols": [
            {
                "title": 'Legal information',
                "itemsList": [
                    {
                        "text": 'Cookies and privacy',
                        "url": "''",
                    }
                ]
            }, ],
		    } ,

     	"navigation": {
		"id": 'main-nav',
		"ariaLabel": 'Main menu',
		"ariaListLabel": 'Navigation menu',
		"currentPath": '#home',
		"itemsList": item_list,
		}

	} %}



