{% extends 'base.html' %}

{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/card/_macro.njk" import onsCard %}



{% block main %}

{{ onsPhaseBanner({
"badge": "BETA",
"html": 'This is a new service – Your feedback will help us improve it.'})
}}


{% for endpoint in endpoints %}
	<br>
	{{ onsCard({
	    "id": 	endpoint.id,
	    "textId": 	'text',
	    "titleSize":endpoint.title_size,
	    "title": 	endpoint.title,
	    "url": 	endpoint.url,
	    "text": 	endpoint.description_text,
	}) }}
	<br>
{% endfor %}

{% endblock %}
