{% extends 'base.html' %}

{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from 'custom_search/_macro.njk' import customSearch %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}

{% block main %}

<h1>Match Multiple Addresses</h1>
<br>

{{ onsSectionNavigation({
  "id": "section-menu",
  "currentPath": 'multiple_address_original',
  "headingLevel": 2,
  "sections": [{
    "title": "",
    "itemsList": [
      {
        "title": "Under " + (limit|string) + " Addresses",
        "url": 'multiple_address_original',
      }
    ] + ([] if reduced else [
      {
        "title": "Over " + (limit|string) + " Addresses",
        "url": url_for('multiple_address'),
      },
      {
        "title": "Monitor Over " + (limit|string) + " Jobs",
        "url": url_for('multiple_address_results'),
      }
    ])
  }]
}) }}

<br>
{% if not results_page %}
	<br>
	{{ onsPanel({
	    "body": "<p>'Under " + (limit|string) + " Addresses' will execute the matches while you wait, and is only suitable for small jobs. For larger ones go to 'Over 5K Addresses'.</p>"
	    + "<p>To get started, upload a CSV file of up to " + (limit|string) + " addresses to be matched. The file must have only two columns, id and address.</p>"
	    + "<p>Download a <a href='/downloads/example_multiple_address'>sample file</a><br><br>"
	    + "You can download your results as a CSV file or preview them in your browser. Your results will include a match accuracy score.</p>"
	}) }}

	<br>
{% endif %}

<form method=post enctype=multipart/form-data>
{{ customSearch ({ "Fields": searchable_fields,
		   "endpoints": endpoints, 
		   "remove_buttons": True,
		   "remove_search_button":False,
                   "results_page": results_page, }) }}
<br>
{{ onsUpload({
	"id": "file",
	"name":"file",
	"type":"file",
	"classes":"input input--text input-type__input input--upload",
	"accept": ".csv,.CSV",
	"error": {
		"id": error_title,
		"text": error_description } if error_title else '',
	"label": {
	    "description": "Please upload a CSV file" if not error_type else "",
	    "text":  "Please upload a CSV file" if not error_type else "" } }) }}

<br>
{{ onsButton({
        "text": "Match Addresses",
        "type": "submit",
        "value": "Download",
        "classes": "btn",  })  }}

</form>


{# Escape the main page contents, create wider grid so that the table can have max width #}
</div></div></div>
<div class="ons-grid__col ons-col-1@m"></div>
<div class="ons-grid__col ons-col-10@m">
<br>
{{ onsTable({
	"id": "basic-table 2",
        "ths":  [] if not table_results else results_summary_table.get('ths') ,
  	"trs": [] if not table_results else results_summary_table.get('trs'),
}) }}

<br>
{{ onsTable({
	"id": "basic-table",
        "ths":  [] if not table_results else table_results.get('ths') ,
  	"trs": [] if not table_results else table_results.get('trs'),
}) }}
</div>

<script type=module src="static/src/all_pages_js.mjs"></script>

{% endblock %}
