{% extends 'base.html' %}

{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "custom_search/_macro.njk" import customSearch %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}

{% block main %}

<h1>Match Multiple Addresses</h1>

<br>

{{ onsSectionNavigation({
        "id": "section-menu",
        "currentPath": 'multiple_address',
        "itemsList": [
            {
                "title": "Under 5K Addresses",
                "url": url_for('multiple_address_original'),
            },
            {
                "title": "Over 5K Addresses",
                "url": 'multiple_address',
            },
            {
                "title": "Monitor Jobs",
                "url": url_for('multiple_address_results'),
            },
        ]
}) }}

<br>

{{onsPanel({
"body": "<p>This will schedule an asynchronous managed job. You can monitor progress and download results from Monitor Jobs.</p>
<p>To get started, upload a CSV file of up to 100,000 addresses to be matched. The file must have only two columns, id and address.</p>
	<p>Download a <a href='/downloads/example_multiple_address'> sample file</a>"
    })}}

{% call onsPanel({ "type": 'warn' }) %}
  If multiple addresses tie in confidence score then addresses are sorted in ascending UPRN order, meaning the lowest UPRNs come first.
{% endcall %}

<form method=post enctype=multipart/form-data>
{{ customSearch ({ "Fields": searchable_fields,
		   "endpoints": endpoints, 
		   "remove_buttons": True,
		   "remove_search_button":False,
                   "results_page": results_page, }) }}

<br>

{{ onsUpload({
	"id": "file",
	"name":"file",
	"type":"file",
	"classes":"input input--text input-type__input input--upload",
	"accept": ".csv,.CSV",
	"error": {
		"id": error_title,
		"text": error_description } if error_title else '',
	"label": {
	    "description": "Please upload a CSV file" if not error_type else "",
	    "text":  "Please upload a CSV file" if not error_type else "" } }) }}


<br>
{{ onsButton({
        "text": "Match Addresses",
        "type": "submit",
        "value": "Download",
        "classes": "btn",  })  }}

</form>

<br>

<script type=module src="static/src/all_pages_js.mjs"></script>

{% endblock %}
