{% extends 'base.html' %}

{% from "components/card/_macro.njk" import onsCard %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from 'components/lists/_macro.njk' import onsList %}
{% from 'custom_search/_macro.njk' import customSearch %}
{% from 'custom_address_info/_macro.njk' import customAddressInfo %}


{% set form =  {
	'method': 'POST',
	'id': 'searchform',
	'attributes': {
	'action': form_action, }} %}

{# In order to specify wider than usual components, page must be in "pageContent" #}
{% block pageContent %}
{% block main %}
{# Add a grid (this is normally done automatically but this overrides the current system to make the box wider) #}
<div class="ons-grid">

{# 1Column boarder#}
  <div class="ons-grid__col ons-col-1@m "></div>

{# Content is the searchboxes, taing up 4 col#}
<div class="ons-grid__col ons-col-4@m ">

{{ customSearch ({ "Fields": searchable_fields,
		   "endpoints": endpoints, 
		   "remove_search_button":False,
                   "results_page": results_page, }) }}
<br>
</div> 

{# 1 Col boarder between filters and results #}
<div class="ons-grid__col ons-col-1@m "></div>

{# 5 Col results page #}
  <div class="ons-grid__col ons-col-5@m ">

{# Title and description #}
{% for endpoint in endpoints %}
{% if endpoint.selected %}
<br>
	{{ onsCard({
	    "id": 	endpoint.id,
	    "textId": 	'text',
	    "titleSize":endpoint.title_size,
	    "titleClasses": 'header__title',
	    "title": 	endpoint.title,
	    "url": 	endpoint.url,
	    "text": 	endpoint.description_text,
	}) }}
<br>
{% endif %}
{% endfor %}

{% if results_page %}
<h2>We matched {{matched_address_number}}  addresses:</h2>
{% endif %}

{{ customAddressInfo ({
	'matched_addresses': matched_addresses,
	}) }}

</div> </div>

{# End of grid #}
</div>

{# Add script to remove form resubmission message #}
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}


const postcodeInput = document.querySelector('#postcode');
postcodeInput.addEventListener('input', (e) => {
	e.target.value = e.target.value.toUpperCase();
  }
);

</script>
 
<script type=module src="static/src/all_pages_js.mjs"></script>
<script type=module src="static/src/save_inputs.mjs"></script>
<script type=module src="static/src/apply_custom_settings.mjs"></script>

{% endblock %}
{% endblock %}
