{% extends 'base.html' %}

{% from "components/card/_macro.njk" import onsCard %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from 'components/lists/_macro.njk' import onsList %}
{% from 'custom_search/_macro.njk' import customSearch %}
{% from 'custom_address_info/_macro.njk' import customAddressInfo %}


{% set form =  {
	'method': 'POST',
	'id': 'searchform',
	'attributes': {
	'action': form_action, }} %}

{# In order to specify wider than usual components, page must be in "pageContent" #}
{% block pageContent %}
{% block main %}
{# Add a grid (this is normally done automatically but this overrides the current system to make the box wider) #}
<div class="ons-grid">

{# 1Column boarder#}
  <div class="ons-grid__col ons-col-1@m "></div>

{# Content is the searchboxes, taing up 4 col#}
  <div class="ons-grid__col ons-col-4@m ">

{{ customSearch ({ "Fields": searchable_fields,
		   "endpoints": endpoints,
		   "remove_search_button":False,
                   "results_page": results_page, }) }}
<br>
</div>

{# 1 Col boarder between filters and results #}
<div class="ons-grid__col ons-col-1@m "></div>

{# 5 Col results page #}
  <div class="ons-grid__col ons-col-5@m ">

	{# Title and description #}
	{% for endpoint in endpoints %}
	{% if endpoint.selected %}
	<br>
		{{ onsCard({
		    "id": 	endpoint.id,
		    "textId": 	'text',
		    "titleSize":endpoint.title_size,
		    "titleClasses": 'header__title',
		    "title": 	endpoint.title,
		    "url": 	endpoint.url,
		    "text": 	endpoint.description_text,
		}) }}
	<br>
	<br>
	{% endif %}
	{% endfor %}

	{% if results_page %}
	<h2>We matched {{matched_address_number}}  addresses:</h2>
	{% endif %}

	{{ customAddressInfo ({
		'matched_addresses': matched_addresses,
		}) }}

</div>

{# End of grid #}
</div>

{# Add script to remove form resubmission message #}
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}


// Add all the inputs into an array, ignoring dropdowns
function getInputObjects() {
  const inps = document.querySelectorAll('.ons-input');
  const final = [];
  for (const a of inps) {
    if ( ! a.classList.contains('ons-input--select') ) {
      final.push(a);
    }
  }
  return final;
}

const inputs = getInputObjects();
const loc = window.location.href;
function getInputObjectValues() {
  const input_obj = {}
  for (const a of inputs) {
    input_obj[a.id] = a.value;
  }
  return input_obj
}

function saveToLocalStorage() {
  const values = JSON.stringify(getInputObjectValues());
  localStorage.setItem(loc, values);
}
function wipeLocalStorage() {
  localStorage.removeItem(loc);
}


// Add event listener to save data when the form is submitted
const form = document.querySelector('form');
form.addEventListener('submit', (e) => {
  saveToLocalStorage();
});

const clear_button = document.querySelector('#clear-form-data-button-id');
clear_button.addEventListener('click', (e) => {
  wipeLocalStorage();
});


// Load values on page load if they exist
const stored_vals = localStorage.getItem(loc);
if (stored_vals) {
  const parsed_vals = JSON.parse(stored_vals);
  for (const inp of inputs) {
    const current_val = parsed_vals[inp.id];
    if (current_val) {
      inp.value = current_val;
    }
  }
}

</script>


{% endblock %}
{% endblock %}
