{% extends 'base.html' %}

{% from 'components/input/_macro.njk' import onsInput %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from 'components/lists/_macro.njk' import onsList %}


{% set form =  {
	'method': 'POST',
	'id': 'searchform',
	'attributes': {
	'action': form_action, }} %}

{% block main %}


<br>

{{ onsInput ({
	"id": "uprn_input",
	"label" : { "text": "To get started, enter a UPRN." },
	"searchButton": { "text": "Search",},
	"charCheckLimit": {
            "limit": 12,
            "charCountOverLimitSingular": "{x} character too many",
            "charCountOverLimitPlural": "{x} characters too many",
            "charCountSingular": "You have {x} character remaining",
            "charCountPlural": "You have {x} characters remaining" },
	}) }}

{% if uprn_result == '' %}

{% call
    onsPanel({
	'title': 'No Results Found',
	'type': 'error'
    }) %}
{{ onsList({
	'id': 'no_data_found',
	'classes': 'list--bare list--errors u-mb-s',
	'itemsList': [{
		'text': 'No data found for that UPRN. Please verify that the number you entered was valid.', }]
    }) }}

	{% endcall %}
{% endif %}

{% endblock %}
