{% macro customSearch(params) %}

{% from 'components/input/_macro.njk' import onsInput %}
{% from 'components/select/_macro.njk' import onsSelect %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from 'components/list/_macro.njk' import onsList %}
{% from 'custom_run_script_with_page_name/_macro.njk' import runScriptWithPageName %}

{% set col = namespace(value=-1) %}
{% set row = namespace(value=0) %}
{% set max_col = 1 %}

<!-- CSS specifically for the custom_search component -->
<link rel="stylesheet" href="/static/css/custom_macros/custom_search.css">

{# Wrap the entire search form in a container so that it can be hidden by default for some pages #}
<div id="full-match-form-container" class="{{ 'invisible' if params.invisible else '' }}">

<section class = "match-form-container" >
{% for field in params.Fields %}

{# Check to see if the parameter is only meant to be shown on a results page #}
{% if params.results_page %}
  {% set show = True %}
{% elif not params.results_page and not field.only_display_in_results_page %}
  {% set show = True %}
{% elif not params.results_page and field.only_display_in_results_page %}
  {% set show = False %}
{% endif %}

{# Wrap each input type into an ID-based specific container if requested #}
{% if params.component_wrappers %}
	<div id="complete-container-for-{{field.database_name}}">
{% endif %}


{# Loop through each input object, returning the matching input type #}
	<br>
	{# Code to generate actual searchui here #}
	{% if field.search_type == "input_box" %}
	{{onsInput({
		"id"   : field.database_name,
		"name" : field.database_name,
		"classes": field.classes if show else ' '.join([field.only_display_in_results_page,field.classes])  ,
		"label": { "text": field.display_title,
			   "classes": '' if show else field.only_display_in_results_page,
			   "description": '' if not show else field.description },
		"value": field.previous_value,
		"searchButton": '' if not field.search_button_variant else {
			visuallyHideButtonText: true,
			"iconType": "search"
		},
		"charCheckLimit": '' if not field.char_check_limit else field.char_check_limit,
    "error": {
         "id": field.database_name,
         "text": field.error_message,
        } if field.error_message != '' else None,
    })}}

	{% elif field.search_type == "dropdown" %}
	{{onsSelect({
		"id"   : field.database_name,
		"name" : field.database_name,
		"classes": field.classes if show else ' '.join([field.only_display_in_results_page,field.classes])  ,
		"label": { "text": field.display_title,
			   "classes": '' if show else field.only_display_in_results_page,
			   "description": field.description },
		"options": field.dropdown_options,
    "error": {
         "id": field.database_name,
         "text": field.error_message,
        } if field.error_message != '' else None,
     })}}
	{% elif field.search_type == "checkbox" %}
	{{onsCheckbox({
		"id": field.database_name,
		"name": field.database_name,
		"classes": field.classes if show else ' '.join([field.only_display_in_results_page,field.classes])  ,
		"label": { "text": field.display_title,
			   "classes": '' if show else field.only_display_in_results_page,
			   "description": field.description },
		"value": True,
		"checked": field.checkbox_value, 
    "error": {
         "id": field.database_name,
         "text": field.error_message,
        } if field.error_message != '' else None
     })  }}
     <br>

	{% elif field.search_type == "radio" %}
		{# Check to see if the Epoch is being generated #}
		{% if field.database_name == "epoch" %}
			<script type="module">
			import { setGlobalValues } from "/static/js/f_helpers/local_storage_page_helpers.mjs";

			// Get the current epoch number
			const latestEpochNumber = '{{ field.default_radio_selection }}';
			
			if (latestEpochNumber === '') {
				console.warn('Error getting default epoch number from template generation');
			}

			// Save it in global values
			setGlobalValues({'latestEpochNumber': latestEpochNumber})
			</script>
			
		{% endif %}
	  {% call onsQuestion({
	    "title": field.display_title,
	    "classes": field.classes if show else ' '.join([field.only_display_in_results_page,field.classes])  ,
	    "legendIsQuestionTitle": true }) %}
	  {{ onsRadios({
            "name": field.database_name,
            "dontWrap": true,
            "radios": field.radio_options,
            "error": {
              "id": field.database_name,
              "text": field.error_message,
              } if field.error_message != '' else None,
     }) }}
	{% endcall %}

	{% elif field.search_type == "label" %}
	{{ onsLabel({
	    "id": 'label',
	    "for": "",
	    "classes": field.classes if show else ' '.join([field.only_display_in_results_page,field.classes])  ,
     	"text": field.display_title, }) }}

	{% elif field.search_type == "file_upload" %}
    {{ onsUpload({
      "id": field.database_name,
      "name": field.database_name,
      "type":"file",
      "classes":"input input--text input-type__input input--upload",
      "accept": ".csv,.CSV",
      "error": {
        "id": field.error_title,
        "text": field.error_message} if field.error_message != '' else None,
      "label": {
          "description": "Please upload a CSV file",
          "text":  "Please upload a CSV file", },
    }) }}



	{% elif field.search_type == "autosuggest" %}
	{{ onsAutosuggest({
             "id": field.database_name,
	     "input": {
  	       "label": { 
	           "text": field.display_title,
	   	       "classes": '' if show else field.only_display_in_results_page,
	  	       "description": field.description,
             "autocomplete": "off"
		       },
            "name": field.database_name,
  	        "classes": 'ons-input--w-50',
            "error": {
              "id": field.database_name,
              "text": field.error_message,
              } if field.error_message != '' else None
		      },
             "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
             "ariaYouHaveSelected": "You have selected",
             "ariaMinChars": "Enter 3 or more characters for suggestions.",
             "minChars": field.min_chars,
             "ariaResultsLabel": "Country suggestions",
             "ariaOneResult": "There is one suggestion available.",
             "ariaNResults": "There are {n} suggestions available.",
             "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
             "moreResults": "Continue entering to improve suggestions",
             "resultsTitle": "Suggestions",
             "autosuggestData": field.autosuggest_url,
             "noResults": "No suggestions found. You can enter your own answer",
             "typeMore": "Continue entering to get suggestions",
  	     "allowMultiple": "true",
	     "value": field.previous_value,
     } ) }}
 

	{% elif field.search_type == "download" %}
		<h5><a href={{field.download_url}}>{{ field.display_title }}</a></h5>

	{% elif field.search_type == "error_panel" %}
		{% call onsPanel({
			'title': field.display_title,
			'variant': 'error' }) %}
		{{ onsList({
			'id': 'error-list-for-' + field.database_name,
			'classes': 'list--bare list--errors u-mb-s',
			'itemsList': [''] }) }}
		{% endcall %}


	{% elif field.search_type == "panel" %}
	  {% call onsPanel({
		"type": 'warn' })
	  %}
	    {{ field.description }}
	  {% endcall %}

	{% elif field.search_type == "panel-info" %}
	  {% call onsPanel({
		"type": 'info' })
	  %}
	    {{ field.description }}
	  {% endcall %}

{% endif %}

{# End the div for "component wrappers" #}
{% if params.component_wrappers %}
	</div>
{% endif %}



{% endfor %}

{% if params.remove_search_button == False %}
<br>
  {# Add a search button on the end of the UI #}
  {% if not params.remove_buttons %}
    {{  onsButton({
	"text": "Search" if not params.override_search_button_text else params.override_search_button_text , }) }}
{% endif %}

{% if params.remove_clear_button != True %}
  {# Create the clear button #}
	{{ onsButton({
		"text": "Clear Filters" if not params.override_clear_filters_button_text else params.override_clear_filters_button_text, 
		'submitType': "loader",
		'variants': 'secondary',
		'id': 'clear-form-data-button-id',
	}) }}

  {# Add functionality to the clear button #}
	{{ runScriptWithPageName({
		"page_name": params.page_name,
		"script_location": '/static/js/macros/custom_search/clear_button.mjs',
	})}}

{% endif %}

{% endif %}

</section>

</div>
{% endmacro %}

