{% extends './aims_ui_pages/0-base_page_settings.html' %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% from 'custom_run_script_with_page_name/_macro.njk' import runScriptWithPageName %}

{% block main %}

{{ onsBreadcrumbs({
  "ariaLabel": 'Breadcrumbs',
  "itemsList":  breadcrumbs,
}) }}


<h1>Help and Documentation</h1>

{{   onsPanel({
"body": "For further help and documentation please visit: <br> <br> <a href='https://intranet.ons.statistics.gov.uk/news/improving-data-quality-through-the-address-index-matching-service/'>https://intranet.ons.statistics.gov.uk/news/improving-data-quality-through-the-address-index-matching-service</a> <br> <br><br>Which contains the latest updates, information and a video tutorial. <br><br>Please note that you will only be able to access the link if you're on ONS network."
}) }}

<!-- Single entry point for all page scripts. Add scripts to the main location below -->
{{ runScriptWithPageName({
		"page_name": page_name,
		"script_location": '/static/js/c_help_pages/init.mjs',
}) }}

{% endblock %}

