{% extends './aims_ui_pages/0-base_page_settings.html' %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

{{ onsBreadcrumbs({
  "ariaLabel": 'Breadcrumbs',
  "itemsList":  breadcrumbs,
}) }}


<h1>Submit Feedback Instructions</h1>

{{   onsPanel({
"body": "Please provide feedback via ServiceNow.<br> <br> You can do this by searching for 'AIMS', selecting 'REQUEST' then select Option 'Provide Feedback'. <br><br> Then type your feedback in the blank box and click the send button."
}) }}


<script type=module src="static/js/e_all_pages/all_pages_first_js.mjs"></script>
<script type=module src="static/js/e_all_pages/all_pages_last.mjs"></script>

{% endblock %}

