{% macro customMultipleMatchNav(params) %}

{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
<br>

{{ onsSectionNavigation({
  "id": "section-menu",
  "currentPath": params.current_path,
  "headingLevel": 2,
  "itemsList": [
    {
      "text": "Under " ~ params.bulk_limits.limit_mini_bulk ~ " Addresses",
      "url": "multiple_address_small_submit"
    }
  ] + ([] if params.reduced else [
    {
      "text": "Up To " ~ params.bulk_limits.limit_vast_bulk ~ " Addresses",
      "url": url_for('multiple_address_large_submit')
    },
    {
      "text": "Monitor Up To " ~ params.bulk_limits.limit_vast_bulk ~ " Jobs",
      "url": url_for('multiple_address_large_results')
    },
    {
      "text": "Customise Response",
      "url": url_for('multiple_address_attributes')
    }
  ])
}) }}

<br>

{% endmacro %}
