{% macro customMultipleMatchNav(params) %}

{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
<br>

{{params}}

{% set availableSubmatchPages = [] %}

{% if 'multiple_address_original' not in params.removed_pages %}
	{% set availableSubmatchPages = availableSubmatchPages + [ {
		"title": "Under " + (params.bulk_limits.limit_mini_bulk|string) + " Addresses",
		"url": 'multiple_address_original'} ] %}
{% endif %}

{% if 'multiple_address' not in params.removed_pages %}
	{% set availableSubmatchPages = availableSubmatchPages + [ {
        "title": "Up To " + (params.bulk_limits.limit_vast_bulk|string) + " Addresses",
        "url": url_for('multiple_address')} ] %}
{% endif %}

{% if 'multiple_address_results' not in params.removed_pages %}
	{% set availableSubmatchPages = availableSubmatchPages + [ {
        	"title": "Monitor Up To " + (params.bulk_limits.limit_vast_bulk|string) + " Jobs",
		"url": url_for('multiple_address_results')} ] %}
{% endif %}


{{ onsSectionNavigation({
  "id": "section-menu",
  "currentPath": params.current_path, 
  "headingLevel": 2,
  "sections": [{
    "title": "",
    "itemsList": availableSubmatchPages,
      }]
}) }}

<br>

{% endmacro %}
