{% from 'custom_run_script_with_page_name/_macro.njk' import runScriptWithPageName %}

{% macro weMatchedAddressPreamble(params) %}

{# Generate the "We matched {X} addresses" #}
{# also add a disclaimer "there may be more results for this search as the set limit of addresses has been reached" #}


{# Add the container for the title, which is generated with the script below #}
<div id="container-for-we-matched-addresses-title"></div>

<!-- Single entry point for all page scripts. Add scripts to the main location below -->
{{ runScriptWithPageName({
		"page_name": params.page_name,
		"script_location": '/static/js/macros/custom_we_matched_message/we_matched_message_helpers.mjs'
}) }}

{% endmacro %}
