{% macro weMatchedAddressPreamble(params) %}

{# Generate the "We matched {X} addresses" #}
{# also add a disclaimer "there may be more results for this search as the set limit of addresses has been reached" #}


{# Add the container for the title, which is generated with the script below #}
<div id="container-for-we-matched-addresses-title"></div>

<script type="module">
  import { generateMatchedMessage } from '/static/js/macros/custom_we_matched_message/we_matched_message_helpers.mjs';

  const page_name = '{{ params.page_name }}';
  generateMatchedMessage(page_name);
</script>

{% endmacro %}
