{% extends './aims_ui_pages/0-base_page_settings.html' %}

{% from "components/card/_macro.njk" import onsCard %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% from 'custom_run_script_with_page_name/_macro.njk' import runScriptWithPageName %}

{% block main %}

{% call onsPanel({"type": 'warn' }) %}
    Settings on this page can change or break functionality on other pages. Only adjust settings you're confident you need to.
{% endcall %}
<br>

{# Include the HTML for persistence settings #}
<div id="input-persistence-settings-container">
    {% include "aims_ui_pages/d_misc_functionality/settings_snippets/_settings_persistence.html" %}
</div>

{# Include the HTML for download settings #}
<div id="download-settings-container">
    {% include "aims_ui_pages/d_misc_functionality/settings_snippets/_settings_download.html" %}
</div>

{# Include the HTML for showing older jobs in multiple match #}
<div id="old-jobs-settings-container">
    {% include "aims_ui_pages/d_misc_functionality/settings_snippets/_settings_old_jobs_multiple_match.html" %}
</div>

{# Include the HTML for showing additional request details in the "info" panel #}
<div id="additional-request-details-settings-container">
    {% include "aims_ui_pages/d_misc_functionality/settings_snippets/_settings_additional_request_details.html" %}
</div>

{# Include the HTML for showing PAF or NAG titles as the default in the title card #}
<div id="paf-or-nag-title-card-settings-container">
    {% include "aims_ui_pages/d_misc_functionality/settings_snippets/_settings_paf_or_nag_title_card.html" %}
</div>

{# Include the HTML for column width settings #}
<div id="column-width-settings-container">
    {% include "aims_ui_pages/d_misc_functionality/settings_snippets/_settings_column_widths.html" %}
</div>

<!-- Single entry point for all page scripts. Add scripts to the main location below -->
{{ runScriptWithPageName({
		"page_name": page_name,
		"script_location": '/static/js/d_misc_functionality/page_settings/init.mjs',
}) }}

{% endblock %}

