{% extends './aims_ui_pages/0-base_page_settings.html' %}

{% from "components/card/_macro.njk" import onsCard %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

{% call onsPanel({"type": 'warn' }) %}
    Settings on this page can change or break functionality on other pages. Only adjust settings you're confident you need to.
{% endcall %}
<br>

<div id="download-settings-container">
    {% call onsQuestion({
        "title": "Select format of results download",
        "classes": "ons-u-mt-no",
        "description": "Select the formatting of the results download you would prefer.",
        "legendIsQuestionTitle": true }) %}
    {{ onsRadios({
    "name": "download-format",
    "dontWrap": true,
    "radios": [
        {
            "id": "download-results-json-radio",
            "label": { "text": "Download results as JSON",},
            "value": "true",
            },
        {
            "id": "download-results-csv-radio",
            "label": { "text": "Download results as CSV",},
            "value": "true",
            },
        ]
    }) }}
    {% endcall %}
    <br>
    {% call onsQuestion({
        "classes": "ons-u-mt-no",
        "title": "Select attributes to include when downloading results",
        "description": 'When downloading results on single address pages, you can include all attributes for each address or just download the ones that are "favourited"',
        "legendIsQuestionTitle": true }) %}
    {{ onsRadios({
    "name": "download-attribute-selection",
    "dontWrap": true,
    "radios": [
        {
            "id": "download-results-full-radio",
            "label": { "text": "Download all attributes of an address",},
            "value": "true",
            },
        {
            "id": "download-results-favourites-radio",
            "label": { "text": "Download only favourite attributes of an address",},
            "value": "true",
            },
        ]
    }) }}
    {% endcall %}
</div>
<br>

{# Add a setting for bulk matching, enabling older jobs to be displayed #}
{% call onsQuestion({
    "title": 'Show Older Jobs',
    "description": 'On bulk matching pages, jobs expire after 7 days and you are no longer able to download them. However, if you wish to see the record and information about the submitted jobs, enable this setting.',
    "legendIsQuestionTitle": true }) %}
    {{ onsCheckboxes({
        "name": "Request Details",
        "checkboxesLabel": "",
        "dontWrap": true,
        "checkboxes": [
            {
                "id": "show-old-jobs-checkbox",
                "value": "true",
                "label": {
                    "text": "Show Old Jobs",
                    "description": "All jobs for your user will be shown in the bulk matching pages",
                }
            },
        ]
        })
    }}
{% endcall %}

{# SET VISIBILITY OF REQUEST SPECIFIC RESULTS #}
{% call onsQuestion({
    "title": 'Show Additional Request Details',
    "description": 'When a request data is returned, there are additional attributes that may be useful. Here you can select which ones you would like to see (they will be shown above the normal "results" section in an information panel',
    "legendIsQuestionTitle": true }) %}
    {{
        onsCheckboxes({
            "checkboxesLabel": "Select all you want visible",
            "dontWrap": true,
            "name": "Request Details",
            "checkboxes": [
                {
                    "id": "additional-request-details-match-type",
                    "value": "true",
                    "label": {
                        "text": "Match Type",
                        "description": "S - Single Match <br> M - Multiple Matches <br> N - No Matches",
                    }
                },
                {
                    "id": "additional-request-details-recommendation-code",
                    "value": "true",
                    "label": {
                        "text": "Recommendation Code",
			            "description": "A - Recommend that the top result is accepted (97.5% of the time this was correct during testing but may be different for your dataset) <br> I - Investigate, we recommend investigating further as there's a significant chance the top match might be wrong",
                    }
                },
                {
                    "id": "additional-request-details-tokenised-output",
                    "value": "true",
                    "label": {
                        "text": "Include Breakdown of Address Tokens",
                        "description": 'In singlesearch pages, the parser automatically breaks up a provided string into building number, building name, etc. Enabling this will cause the UI to show this output with the results section of a request.',
                    }
                },
 
            ]
        })
    }}
{% endcall %}

{# SET PAF OR NAG TITLE PREFERENCE #}
{% call onsQuestion({
    "title": 'How would you like PAF or NAG titles prioritised on result cards? (not on multiple match)',
    "description": 'When examining an address, you can specify whether to prioritize the PAF or NAG version of the address below. If PAF or NAG is chosen, addresses will be labeled as (PAF Formatting) or (NAG Formatting) respectively. However, note that each address always has at least one NAG version, which serves as the default format. Therefore, if PAF is not available, the address will automatically default to (NAG Formatting).',
    "legendIsQuestionTitle": true }) %}
{{ onsRadios({
    "name": 'paf-nag-address-preference',
    "dontWrap": true,
    "radios": [
     {
        "id": 'address-card-title-paf-radio',
        "value": "true",
        "label": {"text": 'Prioritise PAF address format'}
     },
     {
        "id": 'address-card-title-nag-radio',
        "value": "true",
        "label": { "text": 'Prioritise NAG address format' }
     },
     {
        "id": 'address-card-title-default-radio',
        "value": 'default',
        "label": { "text": 'Default Address Format'}
     }
    ]
    }) }}
{% endcall %}


{# SET COLUMN WIDTH PREFERENCE#}
{% call onsQuestion({
    "title": 'Customise Input and Output Widths',
    "description":'You can customise the width of input and output fields below.<br> This is particularly useful for use with a widescreen or large display. Once changed this affects all other results pages. You can reset the changes back to default at any time using the reset button below',
    "legendIsQuestionTitle": true }) %}

    {{ onsSelect({
        "id":      "column-width-left-padding-selector", 
        "name": "column-width-left-padding-selector",
        "classes": "ons-u-wa--@xxs columnWidthCustomiser",
        "options": col_options_inc0,
        "label"  : {
            "text": "Width of Leftside Padding", 
            "inline": true},  
        }
    ) }}

    {{ onsSelect({
        "id":      "column-width-left-content-selector", 
        "name": "column-width-left-content-selector",
        "classes": "ons-u-wa--@xxs columnWidthCustomiser",
        "options": col_options,
        "label"  : {
            "text": "Width of Leftside Content (inputs)", 
            "inline": true
        }
    }) }}

    {{ onsSelect({
        "id":      "column-width-middle-gap-selector", 
        "name": "column-width-middle-gap-selector",
        "classes": "ons-u-wa--@xxs columnWidthCustomiser",
        "options": col_options,
        "label"  : {
            "text": "Width of Gap in middle", 
            "inline": true }
    }) }}

    {{ onsSelect({
        "id":      "column-width-right-side-content-selector", 
        "name": "column-width-right-side-content-selector",
        "classes": "ons-u-wa--@xxs columnWidthCustomiser",
        "options": col_options,
        "label"  : {
            "text": "Width of Right Side Content ", 
            "inline": true }
    }) }}

{% endcall %}


<script type=module src="static/js/e_all_pages/all_pages_first_js.mjs"></script>

<script type=module src="static/js/d_misc_functionality/page_settings/init.mjs"></script>

<script type=module src="static/js/e_all_pages/all_pages_last.mjs"></script>

{% endblock %}

