{% extends './aims_ui_pages/0-base_page_settings.html' %}

{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "custom_search/_macro.njk" import customSearch %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "custom_multiple_match_nav/_macro.njk" import customMultipleMatchNav %}

{% block main %}

<h1>Match Multiple Addresses</h1>

{{ customMultipleMatchNav ({
	'current_path': 'multiple_address_original',
	'bulk_limits': bulk_limits,
	}) }}

{% if not results_page %}
	<br>
	{{ onsPanel({
	    "body": "<p>'Under " + (bulk_limits.limit_mini_bulk|string) + " Addresses' will execute the matches while you wait, and is only suitable for small jobs. For larger ones go to 'Up To " + (bulk_limits.limit_vast_bulk|string) + " Addresses'.</p>"
	    + "<p>To get started, upload a CSV file of up to " + (bulk_limits.limit_mini_bulk|string) + " addresses to be matched. The file must have only two columns, id and address.</p>"
	    + "<p>Download a <a href='/downloads/example_multiple_address'>sample file</a><br><br>"
	    + "You can download your results as a CSV file or preview them in your browser. Your results will include a match accuracy score.</p>"
	}) }} <br>
{% endif %}

<form method=post enctype=multipart/form-data>

	{# Add a grid (this is normally done automatically but this overrides the current system to make the box wider) #}
<div class="ons-grid">

{# 1Column boarder#}
  <div id="space_col_1" class="ons-grid__col ons-col-1@m "></div>

{# Content is the searchboxes, taking up 4 col#}
  <div id="content_col_2" class="ons-grid__col ons-col-4@m ">
{{ customSearch ({ "Fields": searchable_fields,
		   "endpoints": endpoints, 
		   "remove_buttons": True,
		   "remove_clear_button": True,
		   "remove_search_button":False,
                   "results_page": results_page, }) }}
<br>
{{ onsButton({
        "id": "downloadButtonMultipleMatch",
        "text": "Match Addresses",
        "type": "submit",
        "value": "Download",
	      "variants": "loader",
        "classes": "btn",  })  }}

</form>

</div>

{# 1 Col boarder between filters and results #}
<div id="space_col_3" class="ons-grid__col ons-col-1@m "></div>

{# 5 Col results page #}
  <div id="content_col_4" class="ons-grid__col ons-col-5@m ">
{# Escape the main page contents, create wider grid so that the table can have max width #}
</div></div>
<div class="ons-grid__col ons-col-1@m"></div>
<div class="ons-grid__col ons-col-10@m">
<br>
{{ onsTable({
	"id": "basic-table 2",
        "ths":  [] if not table_results else results_summary_table.get('ths') ,
  	"trs": [] if not table_results else results_summary_table.get('trs'),
}) }}

<br>
{{ onsTable({
	"id": "basic-table",
        "ths":  [] if not table_results else table_results.get('ths') ,
  	"trs": [] if not table_results else table_results.get('trs'),
}) }}
</div>

<script type=module src="static/js/e_all_pages/all_pages_first_js.mjs"></script>

<script type=module src="static/js/b_multiple_matches/all_multiple_match_pages.mjs"></script>

<script type=module src="static/js/e_all_pages/custom_column_widths.mjs"></script>

<script type=module src="static/js/e_all_pages/all_pages_last.mjs"></script>

{% endblock %}
