{% macro customAddressInfo(params) %}
{% from 'components/label/_macro.njk' import onsLabel %}
{% from 'components/breadcrumb/_macro.njk' import onsBreadcrumb %}
{% from 'custom_clerical_data/_macro.njk' import customClericalData %}

{% if params.full_info %}

<h1 class="saturn"> {{ params.matched_addresses[0].formatted_address.value }}</h1>
<a href=''><h5>Radius search from this location</h5></a>

<div class="panel panel--info panel--no-title ">
  <span class="u-vh">Important information: </span>
  <div class="panel__body">
    <p>

<table> <tbody>
{# For each atribute in the Address Model #} 
{% for attribute_name, address_attribute in  params.matched_addresses[0].__dict__.items() %}
	{% if address_attribute.full_show %}
		<tr><td class="mars">{{ address_attribute.name }}</td>
		    <td class="venus">{{ address_attribute.value }}</td>
		</tr>
	{% endif %}

	{# If the address is the "NAG" response (contains a NAG Model) #} 
	{% if attribute_name == 'nag' %}
		{% for nag_attribute_name, nag_attribute_value in  address_attribute.value.__dict__.items() %}
		{% if nag_attribute_name in address_attribute.value.full_values_to_show %}
			<tr><td class="mars">{{nag_attribute_name}}</td>
			    <td class="venus">{{ nag_attribute_value.value }}</td>
			</tr>
		{% endif %}
	{% endfor %}
	{% endif %}

	{# If the address is the "PAF" response (contains a PAF Model) #} 
	{% if attribute_name == 'paf' %}
		{% for paf_attribute_name, paf_attribute_value in  address_attribute.value.__dict__.items() %}
		{% if paf_attribute_name in address_attribute.value.full_values_to_show %}
			<tr><td class="mars">{{paf_attribute_name}}</td>
			    <td class="venus">{{ paf_attribute_value.value }}</td>
			</tr>
		{% endif %}
	{% endfor %}
	{% endif %}

{% endfor %}
<tr>
    <td class="mars"><a href=" {{ 'https://www.google.com/maps/search/?api=1&query=' + params.matched_addresses[0].geo.value.get('longitude') + ',' + params.matched_addresses[0].geo.value.get('latitude')  }}"
    >Location Map</a></td>
</tr>
</tbody> </table>

    </p>
  </div></div>

{# Add Custom Clerical Data (almost full result, to be hidden by accordion #} 
{{ customClericalData({
	'clerical_info': params.clerical_info
	} ) }} 


{% else %}


{% for address in params.matched_addresses %}

<article class="result-short-form">
<a href={{'/address_info/' + address.uprn.value }}><h2 class="saturn"> {{ address.formattedAddress.value }}</h2></a>
<table> <tbody>

{% for attribute_name, address_attribute in address.__dict__.items() %}
{% if address_attribute.show %}
	<tr><td class="mars">{{ address_attribute.name }}</td>
	    <td class="venus">{{ address_attribute.value }}</td>
	</tr>
{% endif %}
{% endfor %}
<tr>
    <td class="mars"><a href=" {{ 'https://www.google.com/maps/search/?api=1&query=' + address.geo.value.get('longitude') + ',' + address.geo.value.get('latitude')  }}"
    >Location Map</a></td>
</tr>
</tbody> </table>
</article>

{% endfor %}

{% endif %}







<style>
article.result-short-form {
    border-top: 1px solid #dfe0e2;
    margin: 20px 0px 0px 0px;
    padding: 20px 0;
}
.jupiter {
    font-family: 'Lato Bold', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.saturn {
    font-family: 'Lato Bold', sans-serif;
    font-size: 1.556rem;
    font-weight: 700;
}

.neptune {
    font-family: 'Lato Bold', sans-serif;
    font-size: 1.222rem;
    font-weight: 700;
}

.venus {
    font-family: 'Lato Bold', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.mars {
    font-family: 'Lato Regular', sans-serif;
    font-size: 1rem;
}

.mercury {
    font-family: 'Lato Bold', sans-serif;
    font-size: 0.8889rem;
    font-weight: 700;
}

.pluto {
    font-family: 'Lato Regular', sans-serif;
    font-size: 0.8889rem;
}

</style>

{% endmacro %}
