{% macro customAddressInfoCards(params) %}
{% from 'components/label/_macro.njk' import onsLabel %}
{% from "components/table/_macro.njk" import onsTable %}

{# Create a template for address info, and a container for them #}
{#   then run the scripts to populate the cards #}


{# Deffine the container #}
<div id="container-for-address-cards">
</div>

{# Deffine the template #}
<template id='template-for-address-info-card'>

  <!-- Clickable title (title is in the paf/nag format the user chooses) -->
  <article class="result-short-form">
    <a id='link-to-address-info-uprn'>
      <h2 id='name-of-address-user-dictated'></h2>
    </a>

  <!-- Table for key/value pairs for each address depending on favourites -->
   <table class='clerical-data-table'> 
    <tbody id="table-body-for-address-attributes">

      <tr id="example-table-row"> 
        <td id='attribute-name-placeholder' class="mars"></td> 
        <td id='attribute-value-placeholder' class="venus"></td>
      </tr>

    <tbody>
  </table>
  
  <!-- Link to the location on Google Maps (perhaps to the Radius Search in future?) -->
  {#https://stackoverflow.com/questions/32806084/google-map-zoom-parameter-in-url-not-working#}
  <p class="mars">
    <a id="link-to-address-on-map">Location Map</a>
  </p>

  </article>

</template>

{# Script to fill the details into each template #}
<script type="module">
  import { init } from '/static/js/macros/custom_address_info_cards/init.mjs';

  const page_name = '{{ params.page_name }}';
  init(page_name);
</script>

{# Add styles that create gaps between cards #}
<link rel="stylesheet" href="/static/css/custom_macros/custom_address_info_cards.css">

{% endmacro %}
