{% macro customClericalData(params) %}

{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "sub_components/sub_custom_attributes_table/_macro.njk" import subCustomAttributesTable %}

<br>
{% call onsPanel({
        "type": 'warn'
    })
%}
   Hover your cursor over the "Name" field to see descriptions
{% endcall %}

{# By setting the content, the onsTable is contained inside onsDetails #}

 {% set content %}
        
        <div class="address-card-pseudo-class">
          {# Add the table template #}
          {{ subCustomAttributesTable() }} 
        </div>

    {% endset %}

    {% call onsDetails({
            'id': "collapsible",
            'title': "Clerical Information",
            'button': {
                "close": "Hide this",
                "contextSuffix": "content"
            }
        })
    %}
        {{ content | safe }}
    {% endcall %}

<script type="module">
  import { init } from '/static/js/macros/custom_clerical_data/init.mjs';

  const page_name = '{{ params.page_name }}';
  init(page_name);
</script>

<link rel="stylesheet" href="/static/css/custom_macros/custom_clerical_data.css">
{% endmacro %}
